.bigTile
{
    width: 140px;
    height: 140px;
    border: 1px solid white;
    margin: 5px 30px;
    padding: 5px 5px;
}

.bigTile:hover
{
    border: 1px solid #3b5998;
    cursor: pointer;
}

.smallTile
{
    width: 70px;
    height: 70px;
    border: 1px solid white;
    margin: 5px 30px;
    padding: 5px 5px;
}

.smallTile:hover
{
    border: 1px solid #3b5998;
    cursor: pointer;
}

.smallTileSelected
{
    width: 70px;
    height: 70px;
    border: 1px solid red;
    margin: 5px 30px;
    padding: 5px 5px;
}
.smallTileSelected:hover
{
    border: 1px solid #3b5998;
    cursor: pointer;
}



#sbcImageSource .storyBoardContent
{
    text-align: center;
}

#editorContainer
{
    height: 800;
    width:760;
}

.fb-login-button
{
    float:right;
    display: block;
}

#topBar
{
    height: 90px;
}

.photoCell img
{
    height:116px;
    width:149px;
}

.photoCell img:hover
{
    cursor: pointer;
}

.photoCell
{
    /*border: 1px solid black;*/
    padding: 5px 5px;
    padding-left: 0px;
    margin: 10px 10px;
    margin-left: 0px;
    clear: both;
}

.hiddenContent
{
    visibility: hidden;
}